name: Terraform + LocalStack Working

on:
  push:
    branches: [ "main" ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Start LocalStack
        run: |
          docker run -d -p 4566:4566 --name localstack localstack/localstack:latest
          echo "Aguardando LocalStack iniciar..."
          sleep 10
          docker logs localstack

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.0

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: List buckets created
        run: aws --endpoint-url=http://localhost:4566 s3 ls

      - name: Show logs if failure
        if: failure()
        run: docker logs localstack
